@use "../../css/sass/abstract/" as *;

.sheat-box {
  width: 20px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.cards {
  display: flex;
  width: auto;
  overflow: hidden;
}

.booked-box {
  width: 20px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  color: white;
}

.your_tickets {
  width: 20px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  //   border: 2px solid #b2f4e1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  color: white;
}

.Other_tickets {
  width: 20px;
  height: 30px;
  border-radius: 10px;
  cursor: no-drop;
  //   border: 2px solid #b2f4e1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange;
  color: white;
}
